<head>
	<title>chat-app</title>
</head>

<body>
    <h1>Chat App</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                {{> welcome }} 
                {{> messages }} 
                {{> input }}
            </div>
        </div>
    </div>
    
</body>

<template name="welcome">
    <p>
        Let's chat.
    </p>
    <div class="input-group">
        <input type="text" id="name" placeholder="Enter Name" class="form-control">
        <span class="input-group-btn">
            <button class="btn btn-success setname">Set Name</button>
        </span>
    </div>
</template>

<template name="messages">
    <div class="chat-box">
        {{#each messages}}
            <strong>{{name}}:</strong> {{message}}<br> 
        {{/each}}
    </div>
</template>

<template name="input">
    <div class="input-group">
        <input type="text" id="message" placeholder="Enter Message" class="form-control">
        <span class="input-group-btn">
            <button class="btn btn-success send">Send</button>
        </span>
    </div>
</template>
